.plistaC {
    margin: 0;
    padding: 0;
    color: rgb(118, 117, 117);
}

.letraM {
    font-weight: 600;
}
.letraS {
    font-size: 0.8rem;
    font-weight: 600;
}

.letraSm {
    font-size: 0.7rem;
    font-weight: 600;
}

.ii {
    color: rgb(118, 117, 117);
}

i:hover {
    cursor: pointer;
}